body {
  font-family: sans-serif;
  
}

* {
  margin: 0;
  padding: 0;
}

div {
  font-size: 12px;
}

textarea{
  display: block;
  width: 100%;
  height: 85vh;
  margin-top: 10px;
  resize: none;
}

section{
  margin: 2vh auto;
  width: 90%;
}

button{
  padding: 0 12px;
}

.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.flex>div{
  flex: 1;
}
